<h1>All Events</h1>
<hr>
<h2>Upcoming Events</h2>
<ul>
  <% @upcoming_events.each do |event| %>
    <li>
      <%= link_to event.title, event_path(event.id)%><br>
      <%= event.date%><br>
      <small>By - <%= event.user.email %> 
      <br>Attendees : <%= event.attendees.count %></small> 
    </li>
    <br>
  <% end %>
</ul>

<h1>Past Events</h1>
<ul>
  <% @past_events.each do |event| %>
    <li>
      <%= link_to event.title, event_path(event.id)%><br>
      <%= event.date%><br>
      <small>By - <%= event.user.email %>
      <br>Attendees : <%= event.attendees.count %></small> 
    </li>
    <br>
  <% end %>
</ul>